<h1>Hello, {{.Name}}</h1>

<p>Email: {{.Email}}</p>
<p>Subscription ends: {{.SubscriptionEnds}}</p>
<p>Active course: {{index .Courses 0}}</p>

{{if .IsPrimaryMember}}
  <p>Thank you for being Primary Member!</p>
{{else}}
  <p>Please consider 30% discount and be a Primary Member today!</p>
{{end}}
